#error_explanation.panel.panel-danger
  .panel-heading
    = pluralize(obj.errors.count, "error")
  .panel-body
    %ul
      - obj.errors.full_messages.each do |message|
        %li
          = message
