<div class="caontainer">
  <div class="row">
    <div class="col-md-12">
      <h1>New User</h1>

      <%= render partial: 'form', locals: { user: @user } %>

      <%= link_to 'Back', root_path %>
    </div>
  </div>
</div>
