// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "base_color";

@mixin nav-style {
  background-color: $primary_color;
  color: $primary_font_color;
  a {
    color: $primary_font_color;
    cursor: pointer;
  }

  ul {
    margin: 0px;
    padding: 0px;
    li {
      list-style: none;
    }
  }
}

header {
  @include nav-style();
}

footer {
  @include nav-style();
}

.content-body {
  margin-top: 20px;
}

.blog-post {
  .content {

  }
  .datetime {
  }
}
